body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #ff4500;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #ff4500;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: #ffa500;
}

main {
  background: white;
  margin: 50px auto;
  padding: 40px;
  width: 90%;
  border-radius: 10px;
}

/* Layout */
.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.texto-centro {
  text-align: center;
  flex: 2;
  transition: all 0.5s ease;
}

/* Imágenes */
.img-lado {
  max-width: 180px;
  border-radius: 10px;
}

/* Botones */
button {
  padding: 10px 18px;
  background-color: #ff4500;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #ffa500;
  transform: scale(1.05);
}

/* ===== ANIMACIÓN CSS ===== */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animacion-css {
  animation: aparecer 1s ease-in-out;
}

/* Error */
#mensajeError {
  color: red;
  margin-top: 10px;
}
