* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #ff4500;
  color: white;
  text-align: center;
  padding: 25px 10px;
}


nav {
  background-color: #333;
  padding: 14px;
  text-align: center;
}

nav a {
  color: #ff4500;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #ffa500;
}


main {
  background: white;
  width: 90%;
  margin: 25px auto;
  padding: 40px; 
  border-radius: 12px;
}


.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}


.texto-centro {
  flex: 2;
  text-align: center;
}

.texto-centro p {
  margin: 10px 0;
  line-height: 1.7;
}


.img-lado {
  max-width: 180px;
  border-radius: 12px;
}


.rutinas-centrado {
  text-align: center;
}

.rutinas-centrado ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.rutinas-centrado li {
  margin: 6px 0;
}

video {
  display: block;
  margin: 20px auto 0 auto;
}

footer {
  background-color: #ff4500;
  color: white;
  text-align: center;
  padding: 15px 10px;
}
