body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #ff4500;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #ff4500;
}

nav a:hover {
  color: #ffa500;
}

main {
  padding: 20px;
  text-align: center; /* todo centrado */
}

main img {
  max-width: 20%;  /* Reducida aún más */
  height: auto;
  border-radius: 8px;
  display: block; /* asegura que esté centrada */
  margin: 20px auto; /* centrada horizontalmente con margen */
}

button {
  padding: 10px 15px;
  background-color: #ff4500;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  display: block; /* centrado */
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #ffa500;
}

#info {
  margin-top: 10px;
}
